<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newWallet FORM</title>
</head>
<body>
    <form action='/newWallet' method="POST">
        <p>Enter new wallet's information:</p><br>
        <div>
            <label for="user_id">User ID: </label>
            <input type="text" name="user_id"><br>
        </div>
        <div>
            <label for="balance">Balance: </label>
            <input type="number" name="balance"><br>
        </div>
        
        <button type="submit">Save</button>
    </form>

</body>
</html>