<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP FORM</title>
</head>
<body>
    <form action='/signup' method="POST">
        <div>
            <label for="userName">Username: </label>
            <input type="text" name="userName"><br>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password"><br>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="confirmPassword"><br>
        </div>
        <div>
            <%= errorMessage %>
        </div>
        <button type="submit">Sign up</button>
    </form>

</body>
</html>